# Choose diff file
DIFF_FILE='bsec2-6-1-0-bsec_integration.patch'

# BSEC directory
BSEC_DIR='./src/bsec2-6-1-0_generic_release_22102024'

# Use 'bsec_IAQ' for memory efficiency or 'bsec_IAQ_Sel' for additional gas classification, 
# gas quantification with regression technique and raw signals
BSEC_SOLUTION='bsec_IAQ'

# Platform (IAR, RaspberryPi, armcc, avr, dll, esp, gcc, msp430)
BSEC_PLATFORM='RaspberryPi'

# Architecture
# IAR: IAR7, IAR8
# RaspberryPi: PiFour_Armv8, PiThree_ArmV6, PiThree_ArmV8
# armcc: Cortex_M0, Cortex_M0+, Cortex_M3, Cortex_M4, Cortex_M4F, Cortex_M7
# avr: AVR32, AVR8_XMEGA, AVR8_megaAVR
# dll: x64, x86
# esp: esp32, esp32_c2c3, esp32_s2, esp32_s3, esp8266
# gcc: ARMv8, Cortex_A7, Cortex_A73, Cortex_M0, Cortex_M0+, Cortex_M3, Cortex_M33, Cortex_M33F,
# Cortex_M4, Cortex_M4F, Cortex_M7, Linux/{m32, m64}, windows/{x64, x86}
# msp430: MSP430_GCC_OUT
BSEC_ARCH='PiFour_Armv8'

# Sensor (bme680, bme688)
BSEC_SENSOR='bme680'

# Sensor config 
# bme680: bme680_iaq_18v_300s_28d, bme680_iaq_18v_3s_28d, bme680_iaq_33v_300s_28d, bme680_iaq_33v_3s_28d
# bme680_iaq_18v_300s_4d, bme680_iaq_18v_3s_4d, bme680_iaq_33v_300s_4d, bme680_iaq_33v_3s_4d
# bme688: bme688_iaq_18v_300s_28d, bme688_iaq_18v_3s_28d, bme688_iaq_33v_300s_28d, bme688_iaq_33v_3s_28d
# bme688_iaq_18v_300s_4d, bme688_iaq_18v_3s_4d, bme688_iaq_33v_300s_4d, bme688_iaq_33v_3s_4d
BSEC_SENSOR_CONFIG='bme680_iaq_33v_3s_28d'
